
<div class = "span6 offset3">

<h1>Update <%= @project.title%></h1>

<div class = "row">

<%= form_for @project do |f| %>

	<%= render 'layouts/error_messages', object: f.object %>

	<%= f.label :title %>
	<%= f.text_field :title %>

	<%= f.label :description %>
	<%= f.text_field :description %>

<div>
<%= link_to("New Picture", new_picture_path(project_id: @project.id)) %>

	<% @project.pictures.each do |picture|
%>
	<%= link_to(picture.title, edit_picture_path(picture, project_id: @project.id)) %>

	<% end %>
	</div>

<div>
<%= f.submit "Save changes", class: "btn btn-large btn-primary"%>	
</div>

<% end %>

	</div>
</div>