<h1>Update <%= @project.title%></h1>

<div class = "row">
	<div class = "span6 offset3">

<%= form_for @project do |f| %>

	<%= f.label :title %>
	<%= f.text_field :title %>

	<%= f.label :description %>
	<%= f.text_field :description %>

<%= link_to("New Picture", new_picture_path(project_id: @project.id)) %>

	<% @project.pictures.each do |picture|
%>
	<%= link_to(picture.title, edit_picture_path(picture, project_id: @project.id)) %>

	<% end %>
	<%= f.submit "Save changes", class: "btn btn-large btn-primary"%>

<% end %>

	</div>
</div>