
<div id="wrapper">

<div id="header">

<div class="header">
	
	<div id="logo">
		<%= link_to image_tag("logo.png", title: "Logo", :size => "100x100"), root_path %>
	</div><!--END logo-->

<div class="pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path %> |
  <%= link_to "Login", new_user_session_path %>
<% end %>
</div>	
		
<div id="smoothmenu" class="ddsmoothmenu">
	
	<ul>	
		<li class="<%= "current" if yield(:title) == "home" %>">
			<%= link_to "Home",    root_path %>
		</li>
		<li class="<%= "current" if yield(:title) == "portfolio" %>">
			<%= link_to "Portfolio",    portfolio_path %>
		</li>
		
	</ul><!--END ul-->
	
</div><!--END jqueryslidemenu-->
		
</div><!--END header class-->

</div><!--END header id-->